#footer
  position: relative
  background-color: transparent
  background-attachment: scroll
  background-position: bottom
  background-size: cover

#footer-wrap
  position: relative
  padding: 40px 20px
  color: var(--font-color)
  text-align: center
  line-height: 1.8

  .copyright,
  .footer_icp
    display: inline-block

  .footer_icp
    margin-left: 6px

  a
    color: var(--font-color)

    &:hover
      text-decoration: underline

  .footer-separator
    margin: 0 4px

  .icp-icon
    padding: 0 4px
    max-height: 1.4em
    width: auto
    vertical-align: text-bottom
